*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    background: rgba(0, 175, 76, 0.923);
    min-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: .2rem;
    font-size: 1.3rem;
    mix-blend-mode:soft-light;
    color: #000;
}
#page-container{
    margin-top: 12px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    max-width: 1050px;
    display: flex;
}
#tools-board{
    width: 230px;
    padding: 15px 22px 0;
}
.row{
    margin-bottom: 20px;
}
.row-options{
    list-style-type: none;
    margin: 10px 0 0 5px;
}
.row-list, .option{
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}
section{
    background: #fff;
    border-radius: 7px;
  }
  .row-list, .option :where(span, label){
    color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
  }
  span, label{
    padding-left: .6rem;
  }
  .row-options > label, .row > label{
    color: #222 !important;
    font-size: 1.3em;
    text-decoration: underline;
    font-family: sans-serif;
   
  }
  .colors .options{
    display: flex; 
    margin: 10px 0 0 5px;
  }
  .row-list:is(:hover, .active) :where(span, label){
    color: rgba(0, 175, 76, 0.923);
  }
  input[type='range'], .row-list:is(:hover, .active) img{
    filter:  invert(17%) sepia(90%) saturate(300%) hue-rotate(90deg) brightness(100%) contrast(100%);
  }
  .colors .option{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
    list-style-type: none;
    margin-left: 9px;
  }
  .colors .option:nth-child(1){
    background-color: #fff;
    border: 1px solid #bfbfbf;
  }
  .colors .option:nth-child(2){
    background-color: #000;
  }
  .colors .option:nth-child(3){
    background-color: #E02020;
  }
  .colors .option:nth-child(4){
    background-color: #6DD400;
  }
  .colors .option.selected::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
  }
  .colors .option:first-child.selected::before{
    border-color: #ccc;
  }
  .colors .option:nth-child(5){
    background-color: #4A98F7;
  }
  #color-picker{
    opacity: 0;
    cursor: pointer;
  }
  .buttons button{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 0.9rem;
    margin-bottom: 13px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .buttons .clear-canvas{
    color: #6C757D;
    border: 1px solid #6C757D;
    transition: all 0.3s ease;
  }
  .clear-canvas:is(:hover){
    color: #fff;
    background: #6C757D;
  }
  .buttons .save-img{
    background: rgba(0, 175, 76, 0.923);
    border: 1px solid rgba(0, 175, 76, 0.923);
  }
  .draw-board{
    flex: 1;
    overflow: hidden;
  }
  .draw-board canvas{
    width: 100%;
    height: 100%;
  }
  #sliderRange{
        width: 100%;
        height: 5px;
        margin-top: 10px;
  }
  #fill-color:checked ~ label{
    color: rgba(0, 175, 76, 0.923);

  }
  @media screen and (max-width: 400px){
    #page-container{
        display: block;
        height: 70vh;
    }
    #tools-board{
        width: 100%;
    }
    .draw-board{
        height: 50%;
    }

  }
  